
.countdown-neon {
  .anim {
    animation: neon2 2s;
  }

  .anim1x {
    animation: neon21 5s linear;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
  }
  to {
    text-shadow: 0 0 30px rgba(51, 255, 255, .1);
  }

}

@keyframes neon21 {
  from {
    text-shadow: 0 0 70px rgba(255, 255, 255, 1),
    0 0 70px rgba(255, 255, 255, 1),
    0 0 70px rgba(255, 255, 255, 1),
    0 0 70px rgba(255, 255, 255, 1),
    0 0 70px rgba(255, 255, 255, 1);
  }
  to {
    text-shadow: 0 0 70px rgba(51, 255, 255, .1);
  }

}
